<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:text="http://www.w3.org/1999/xhtml">
<head>
    <title>购物商城</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
    <script src="/static/js/bootstrap.min.js" type="javascript"></script>
</head>
<body>
<script>
    function buyProduct() {
        document.start.action="/buying";
        document.start.submit();
    }
    function addIncart() {
        document.start.action="/addincart";
        document.start.submit();
    }
</script>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">购物商城</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
                <div class="form-group" >
                    <input type="text" class="form-control" placeholder="搜索商品">
                </div>
                <button type="submit" class="btn btn-default">提交</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li  th:if="${session.user!=null}">
                    <form action="/cart" method="get" >
                    <button class="btn btn-primary" type="submit" name="user_id" th:value="${session.user.id}" >购物车</button>
                    </form>
                </li>
                <li class="dropdown" th:if="${session.user!=null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" th:text="${session.user.getName()}"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">消息中心</a></li>
                        <li><a href="#">个人资料</a></li>
                        <li><a href="#">退出登录</a></li>
                    </ul>
                </li>
                <li th:if="${session.user==null}">
                    <a href="/register">登录</a>
                </li>
                <li th:if="${session.user==null}">
                    <a href="/register">注册</a>
                </li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<form name="start" role="form" action="" method="get">
    <div class="row" th:each="emp:${product}">
<!--        <div class="col-sm-6 col-md-4">-->
            <div class="thumbnail">
                <img th:src="${emp.uri}" th:alt="${emp.name}">
                <div class="caption">
                    <h3 th:text="${emp.name}" align="center"></h3>
                    <p class="navbar-text" th:text="${emp.profile}"></p>
                    <span class="label label-success">价格</span>
                    <span  th:text="${emp.price}" class="label label-info"></span>
                    <button class="btn btn-primary"  name="pro_id" th:value="${emp.getPro_id()}" role="button"  onclick="buyProduct()">购买</button>
                    <button class="btn btn-primary"  name="pro_id" th:value="${emp.getPro_id()}" role="button"  onclick="addIncart()">加入购物车</button>
                </div>
                </div>
            </div>
<!--        </div>-->
<!--    </div>-->
</form>
</body>
</body>
</html>